.bg {
    min-height: 1700px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
    /* position: fixed; */
}

/* The navbar */
.topnav {
    overflow: visible;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #474747;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    transition: ease-out 0.3s;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 50px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    /* height: 3000px; */
    height: fit-content;
    font-size: 30px;
    background-image: linear-gradient(0deg, rgb(186, 186, 186), rgb(255, 255, 255));
    /* animation: gradient 15s ease infinite; */
}

.pre-form {
    color: #1a1a1a;
    transition: ease-out 0.1s all;
}

.pre-form form {
    padding-top: 100px;
    /* padding-left: 400px; */
    text-align: center;
}

.name label {
    padding-right: 20px;
    font-weight: bold;
    /* position: absolute; */
}

.name input {
    align-content: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #464646;
    background-color: rgb(255, 255, 252);
    font-size: 40px;
    color: rgb(99, 97, 97);
}

.name input[type="date"] {
    font-size: 25px;
}

#degYear {
    font-size: 25px;
    padding-left: 20px;
    margin-left: 20px;
}

.cardbg {
    margin-top: -30px;
    margin-left: 18%;
    width: 64%;
    position: unset;
    position: relative;
    align-self: center;
}

.name {
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 40px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.08);
    background-color: rgb(255, 255, 252);
    border-radius: 15px;
}

.eduInfo {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 55px;
    margin-left: -85px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.08);
    background-color: rgb(255, 255, 252);
    border-radius: 15px;
    transition: ease 0.5s;
}

.eduInfo input[type="date"] {
    font-size: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #464646;
}

.eduInfo input[type="button"] {
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-left: 82px;
}

.eduInfo label {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 30px;
}

.eduInfo input[type="text"] {
    align-content: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #464646;
    background-color: rgb(255, 255, 252);
    font-size: 30px;
    color: rgb(99, 97, 97);
}

.eduInfoNew {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 55px;
    margin-left: -85px;
    margin-top: 110px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.08);
    background-color: rgb(255, 255, 252);
    border-radius: 15px;
    transition: ease 0.5s;
}

.eduInfoNew input[type="date"] {
    font-size: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #464646;
}

.eduInfoNew input[type="button"] {
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-left: 82px;
}

.eduInfoNew label {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 30px;
}

.eduInfoNew input[type="text"] {
    align-content: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #464646;
    background-color: rgb(255, 255, 252);
    font-size: 30px;
    color: rgb(99, 97, 97);
}

#eduInfoList {
    padding-left: 55px;
}

#eduInfoList li{
    margin-left: 30px;
    font-weight: bolder;
    font-size: 30px;
}

#edudeg {
    padding-right: 178px;
}

#degYearid {
    /* margin-top: 90px; */
    margin-top: 40px;
    padding-bottom: 50px;
    /* padding-left: -10px; */
    margin-bottom: -70px;
    font-weight: bold;
    margin-left: -85px;
    text-indent: -85px;
    text-align: center;
    /* margin-left: -40px; */
}

#degYearid input[type='date'] {
    padding-left: 30px;
}

.addschool {
    width: 80px;
    height: 50px;
    background-color: #ddd;
    color: #474747;
    transition: ease 0.5s;
}

#removeSchool {
    margin-left: 41px;
    width: 120px;
}

.addschool:hover {
    cursor: pointer;
    background-color: #888888;
    color: rgb(247, 247, 247);
    transition: ease 0.5s;
}

.workExp {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-left: -85px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.08);
    background-color: rgb(255, 255, 252);
    border-radius: 15px;
    font-size: 30px;
}

.workExp {
    text-align: left;
    padding-left: 45px;
}

.workExp label{
    padding-right: 15px;
    font-weight: bolder;
    padding-left: 40px;
}

#workExpList li {
    margin-left: 45px;
    font-weight: bolder;
    /* text-indent:; */
}

.workExp input[type="text"] {
    width: 45%;
    align-content: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #464646;
    background-color: rgb(255, 255, 252);
    font-size: 30px;
    color: rgb(99, 97, 97);
}

.workExp input[type="button"] {
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-left: 92px;
}

.workExp input[type="date"] {
    font-size: 25px;
    border: none;
    outline: none;
    padding-left: 50px;
    margin-left: 20px;
    border-bottom: 2px solid #464646;
}

#positionLable {
    padding-right: 89px;
}

.addWorkExp {
    width: 80px;
    height: 50px;
    border: none;
    outline: none;
    background: #ddd;
    color: #474747;
    border-radius: 50px;
    transition: ease 0.5s;
}

.addWorkExp:hover {
    cursor: pointer;
    background-color: #888888;
    color: rgb(247, 247, 247);
    transition: ease 0.5s;
}

#removeWork {
    margin-left: 51px;
    width: 120px;
}

.submitbtn {
    /* padding-top: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 200px;
}

.btn {
    width: 280px;
    height: 60px;
    border: none;
    color: #000000;
    background-color: dfe6e9;
    border-radius: 50px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.3s;
    font-size: 25px;
    font-weight: bolder;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.btn:hover {
    box-shadow: inset 300px 0 0 0 #f4ff8f;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
