.bg {
    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: visible;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #474747;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 50px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    height: 1700px;
    font-size: 30px;
    background-image: linear-gradient(0deg, rgb(186, 186, 186), rgb(255, 255, 255));
}

.pre-form {
    color: #1a1a1a;
}

.pre-form form {
    padding-top: 100px;
    /* padding-left: 400px; */
    text-align: center;
}

.name label {
    padding-right: 10px;
    /* position: absolute; */
}

.name input {
    align-content: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #464646;
    font-size: 25px;
}

.name {
    padding-top: 40px;
}

.submitbtn {
    /* padding-top: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 200px;
}

.btn {
    width: 280px;
    height: 60px;
    border: none;
    color: #000000;
    background-color: dfe6e9;
    border-radius: 50px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.3s;
    font-size: 25px;
    font-weight: bolder;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
    
}

.btn:hover {
    box-shadow: inset 300px 0 0 0 #f4ff8f;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
