<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Your Resume</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://maxcdn.icons8.com/Share/icon/ios7/Business/open_resume1600.png" type="image/x-icon">
</head>

<body>
    <div class="bg-img">
        <div class="container">
            <div class="topnav">
                <a href="/">Home</a>
                <a href="/createResume">Create Resume</a>
                <a href="/getResume">Get Resume</a>
                <a href="/about">About</a>
            </div>
        </div>
    </div>
</body>

</html>